#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 20px 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #036fab;
    padding: 20px 5px;
    margin: 10px 0px 0px 0px;
	clear: both;
	text-align: center;
    color: #FFF;
}

#left {
    float: left;
    background-color: #036fab;
    padding: 20px 5px;
    width: 240px;
    margin-bottom: 10px;
    color: #FFF;
}

#left li {
    padding: 3px 0;
}

#left li a {
  color: #FFF;
  font-weight : bold;
  text-decoration: none;
}

#right {
    float: right;
    background-color: #FFF;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 10px;
    margin-left: 260px;
    min-width: 240px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.loginform {
    text-align: center;
}

.loginform table {
    margin: auto;
}

.button {
    margin: 10px 0;
    padding: 10px 20px;
}